/* First section */
.s-1 {
  color: white;
  padding: 15px 30px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.s-1 .s-1-middle {
  text-transform: uppercase;
  top: 40%;
  text-align: center;
  position: relative;
}

.parallax {
  background-image: url("../assets/images/bg-5.jpeg");
  height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(56, 55, 56, 0.3);
  box-shadow: inset 0 0 0 2000px rgba(56, 55, 56, 0.3);
}

.text--animated {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #369f2e 29%, #fafafa 67%, #c4c4a8 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 3s linear infinite;
          animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 104px;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* second section */
.s-2 {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a2a2a;
  gap: 25px;
}

.s-2 .s-2-title,
.s-2 .s-2-info {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 .s-2-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 50px;
  text-align: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.s-2 .s-2-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-2 .s-2-info p {
  max-width: 540px;
}

.s-2 .imgs-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.s-2 .imgs-collection img {
  width: 150px;
  height: 150px;
  padding: 0 10px;
}

/* Third section */
.s-3 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  background-color: white;
}

.s-3 .s-3-img {
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.s-3 .s-3-img img {
  max-height: 658px;
  max-width: 658px;
  width: 100%;
  min-height: 300px;
  min-width: 300px;
  position: relative;
  top: -5%;
}

.s-3 .s-3-info {
  color: gray;
  padding: 0 70px;
}

.s-3 .s-3-info h1 {
  font-size: 45px;
  color: black;
  letter-spacing: 25px;
  margin-bottom: 10px;
}

.s-3 .s-3-info h6 {
  color: #369f2e;
  font-size: 25px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.s-3 .s-3-info p {
  line-height: 40px;
}

.s-3 .s-3-img,
.s-3 .s-3-info {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Fourth section */
.s-4 {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebd1;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.s-4 > * {
  margin: 20px 0;
}

.s-4 .s-4-title-1 {
  font-size: 24px;
  color: gray;
}

.s-4 .s-4-title-2 {
  font-size: 40px;
  color: #4c4c4c;
}

.s-4 .s-4-text {
  max-width: 435px;
  color: #848484;
  font-size: 18px;
}

.s-4 .email-input-container {
  width: 375px;
  border: 1px solid #c1c1c1;
  border-radius: 22px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-4 .email-input-container input {
  height: 43px;
  width: 87%;
  margin-left: 15px;
  background: transparent;
  border: 0;
}

.s-4 .email-input-container input:focus-visible {
  outline: transparent;
}

.s-4 .email-input-container .submit-btn {
  background-color: #be4157;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.s-4 .email-input-container .submit-btn .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  top: 16px;
  left: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0 6px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.s-4 .email-input-container .submit-btn .arrow::before {
  display: block;
  background-color: white;
  width: 8px;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(8px / 2);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  content: "";
  right: -2px;
}

.s-4 .email-input-container .submit-btn:hover > .arrow {
  -webkit-transform: rotate(-45deg) translate(4px, 4px);
          transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.s-4 .email-input-container .submit-btn:hover > .arrow::before {
  opacity: 1;
  width: 15px;
}

.s-1,
.s-2,
.s-3,
.s-4,
.footer {
  min-width: 360px !important;
}
/*# sourceMappingURL=sections.css.map */